<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixTMR</key>
				<false/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_PTS,1,N) to ZPTS, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_WAK,1,S) to ZWAK, pair with SSDT-PTSWAK.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_BIF,0,N) to XBIF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X0JJRgA=</data>
					<key>Replace</key>
					<data>WEJJRgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(_BST,0,S) to XBST</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X0JTVAg=</data>
					<key>Replace</key>
					<data>WEJTVAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(SMTF,1,N) to XMTF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>U01URgE=</data>
					<key>Replace</key>
					<data>WE1URgE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(SMTE,1,N) to XMTF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>U01URQE=</data>
					<key>Replace</key>
					<data>WE1URQE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(MHPF,1,N) to XHPF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>TUhQRgE=</data>
					<key>Replace</key>
					<data>WEhQRgE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(MHIF,1,N) to XHIF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>TUhJRgE=</data>
					<key>Replace</key>
					<data>WEhJRgE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GSBI,1,N) to XSBI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>R1NCSQE=</data>
					<key>Replace</key>
					<data>WFNCSQE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GBID,0,S) to XBID</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>R0JJRAg=</data>
					<key>Replace</key>
					<data>WEJJRAg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change BAT0._STA to BAT0.XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>FD5fU1RBAA==</data>
					<key>Replace</key>
					<data>FD5YU1RBAA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MATH._STA to MATH.XSTA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>IHkAFBhfU1Q=</data>
					<key>Replace</key>
					<data>IHkAFBhYU1Q=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>(RP01 only) Rename _RMV to XRMV and use with SSDT-TYPC.aml for USB-C hot plug support</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>MDFbghdIUlVTCF9BRFIAFAtfUk1WAA==</data>
					<key>Replace</key>
					<data>MDFbghdIUlVTCF9BRFIAFAtYUk1WAA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>(RP05 only) Rename RP05.PXSX to RP05.SDXC and use with SSDT-SDXC.aml for SDXC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UlAwNS5QWFNY</data>
					<key>Replace</key>
					<data>UlAwNS5TRFhD</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>(RP05 only) Rename RP05PXSX to RP05SDXC and use with SSDT-SDXC.aml for SDXC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UlAwNVBYU1g=</data>
					<key>Replace</key>
					<data>UlAwNVNEWEM=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>(RP05 only) Rename Device(PXSX) to SDXC and use with SSDT-SDXC.aml for SDXC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UFhTWAhfQURSABQPX1BSVwCkR1BSVwppCgQULUhQTUUIoCaQkpNWRElEDP////+TUE1TWAGGUFhTWAoCcAFQTVNYcAFQU1BYFA9fUFJXAKRHUFJXCmkKBBQWX1BSVACgClBJQ02kQVIwNKRQUjA0W4JLN1JQMDY=</data>
					<key>Replace</key>
					<data>U0RYQwhfQURSABQPX1BSVwCkR1BSVwppCgQULUhQTUUIoCaQkpNWRElEDP////+TUE1TWAGGU0RYQwoCcAFQTVNYcAFQU1BYFA9fUFJXAKRHUFJXCmkKBBQWX1BSVACgClBJQ02kQVIwNKRQUjA0W4JLN1JQMDY=</data>
				</dict>
			</array>
			<key>SlpSmiAtWake</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>NvOptTbl</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-LPC.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-BATT.aml</string>
			<string>SSDT-SDXC.aml</string>
			<string>SSDT-TYPC.aml</string>
			<string>SSDT-PLUG-_PR.CPU0.aml</string>
			<string>SSDT-EC.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>DefaultVolume</key>
		<string>SYSTEM_DRV</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>UIScale</key>
		<integer>2</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>3</integer>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAWWQ==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AABgAQ==</data>
			</dict>
		</dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>FullTitle</key>
					<string>UEFI internal</string>
					<key>Hidden</key>
					<string>Always</string>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>Other</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>Minimalism</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Custom</key>
			<data>AP///////wAGr28QAAAAAAAaAQSlGRF4Akp1pFZSnCcKUFQAAAABAQEBAQEBAQEBAQEBAQEBcJRAELGAUHAoIKoA/qkAAAAYAAAADwAAAAAAAAAAAAAAAAAgAAAA/gBBVU8KICAgICAgICAgAAAA/gBCMTIwWUFOMDEuMCAKAAg=</data>
			<key>Inject</key>
			<true/>
			<key>ProductID</key>
			<string>0x17Aa</string>
			<key>VendorID</key>
			<string>0x39E6</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaNoEFI</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>MacBookPro14,2</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>